
@{
    ViewData["Title"] = "Index";
}
@section Style{

    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <style type="text/css">
        .layui-icon {
            font-size: 20px;
            vertical-align: middle;
        }

        .kit-side-fold {
            text-align: center;
        }
    </style>

}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="font-size: 20px;">车辆监控系统V1.0</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            @*<li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>*@
            <li class="layui-nav-item">
                <a href="javascript:;">系统设置</a>
                @*<dl class="layui-nav-child">
                    <dd><a href="#" data-url="DictTable" data-id="777" data-title="字典表选项" class="site-demo-active" data-type="tabAdd">字典管理</a></dd>
                    <dd><a href="#" id="damagek">损伤系数</a></dd>

                </dl>*@
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img id="id" src="#" class="layui-nav-img">
                    <span id="user"> </span>
                </a>

            </li>
            <li class="layui-nav-item"><a href="@Url.Action("Logout", "Login")">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->

            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <div title="菜单缩放" class="kit-side-fold"><i class="layui-icon layui-icon-shrink-right" aria-hidden="true"></i></div>
                    <a class="" title="ADF0979" href="javascript:;"><i class="layui-icon layui-icon-table"></i><span>车牌ADF0979</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a title="实时监控-车辆" href="#" data-url="Home" data-id="00" data-title="实时监控-车辆" class="site-demo-active"
                               data-type="tabAdd"><i class="layui-icon layui-icon-loading"></i><span>实时监控-车辆</span></a>
                        </dd>
                        <dd>
                            <a href="#" title="统计监控-ACC" data-url="ADF0979Static-ACC" data-id="11" data-title="统计监控-ACC" class="site-demo-active"
                               data-type="tabAdd"><i class="layui-icon layui-icon-engine"></i><span>统计监控-ACC</span></a>
                        </dd>
                        <dd>
                            <a href="#" title="统计监控-WFT" data-url="ADF0979Static-WFT" data-id="11" data-title="统计监控-WFT" class="site-demo-active"
                               data-type="tabAdd"><i class="layui-icon layui-icon-engine"></i><span>统计监控-WFT</span></a>
                        </dd>
                        <dd>
                            <a href="#" title="实时监控-ACC" data-url="ADF0979RealTime-ACC" data-id="22" data-title="实时监控-ACC" class="site-demo-active"
                               data-type="tabAdd"><i class="layui-icon layui-icon-template-1"></i><span>实时监控-ACC</span></a>
                        </dd>
                        <dd>
                            <a href="#" title="实时监控-WFT" data-url="ADF0979RealTime-WFT" data-id="22" data-title="实时监控-WFT" class="site-demo-active"
                               data-type="tabAdd"><i class="layui-icon layui-icon-template-1"></i><span>实时监控-WFT</span></a>
                        </dd>
                    </dl>
                </li>


            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab" lay-filter="RLDADATA" lay-allowClose="true">
            <ul class="layui-tab-title">
            </ul>
            <ul class="rightmenu" style="display: none;position: absolute;">
                <li data-type="closethis">关闭当前</li>
                <li data-type="closeall">关闭所有</li>
            </ul>
            <div class="layui-tab-content">

            </div>
        </div>
        <!-- 内容主体区域 -->

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © by俞晓辉
    </div>
</div>

@section Scripts{

    <script>
        var element = document.getElementById('id');
        var span = document.getElementById('user');
        if ("@ViewBag.User"=="Admin") {
            element.src ="/Pictures/老板.png"
            span.textContent = "Admin";
        }
        else {
            element.src = "/Pictures/普通用户.png";
            span.textContent = "User";
        }

        var body;
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use(['element', 'layer', 'table', 'form'], function () {
            var element = layui.element;

            var $ = layui.jquery;
            var isShow = true;  //定义一个标志位




            $('.kit-side-fold').click(function () {
                //选择出所有的span，并判断是不是hidden
                $('.layui-nav-item span').each(function () {
                    if ($(this).is(':hidden')) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });


            if (isShow) {
                $('.layui-side.layui-bg-black').width(60); //设置宽度
                $('.kit-side-fold i').css('margin-right', '70%');  //修改图标的位置
                //将footer和body的宽度修改
                $('.layui-body').css('left', 60 + 'px');
                $('.layui-footer').css('left', 60 + 'px');
                //将二级导航栏隐藏
                $('dd span').each(function () {
                    $(this).hide();
                });
                //修改标志位
                isShow = false;
            } else {
                $('.layui-side.layui-bg-black').width(200);
                $('.kit-side-fold i').css('margin-right', '10%');
                $('.layui-body').css('left', 200 + 'px');
                $('.layui-footer').css('left', 200 + 'px');
                $('dd span').each(function () {
                    $(this).show();
                });
                isShow = true;
            }
            });
            //获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
            var active = {
                //在这里给active绑定几项事件，后面可通过active调用这些事件
                tabAdd: function (url, id, name) {
                    var SelectUrl = "";
                    switch (url) {
                        case "Home":
                            SelectUrl = '@Url.Action("Index", "ADF0979")';
                            break;
                        case "ADF0979Static-ACC":
                            SelectUrl = '@Url.Action("StaticsACC", "ADF0979")';
                            break;
                        case "ADF0979RealTime-ACC":
                            SelectUrl = '@Url.Action("RealTimeACC", "ADF0979")';
                            break;

                    }

                    //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                    //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                    element.tabAdd('RLDADATA', {
                        title: name,
                        content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="'+SelectUrl+'" style="width:100%;height:99%;"></iframe>',
                        id: id //规定好的id
                    })
                    CustomRightClick(id); //给tab绑定右击事件
                    FrameWH();  //计算ifram层的大小
                },
                tabChange: function (id) {
                    //切换到指定Tab项
                    element.tabChange('RLDADATA', id); //根据传入的id传入到指定的tab项
                },
                tabDelete: function (id) {
                    element.tabDelete("RLDADATA", id);//删除
                },
                tabDeleteAll: function (ids) {//删除所有
                    $.each(ids, function (i, item) {
                        element.tabDelete("RLDADATA", item); //ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
                    })
                }
            };
            //当点击有site-demo-active属性的标签时，即左侧菜单栏中内容 ，触发点击事件
            $('.site-demo-active').on('click', function () {
                var dataid = $(this);

                //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
                if ($(".layui-tab-title li[lay-id]").length <= 0) {
                    //如果比零小，则直接打开新的tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                } else {
                    //否则判断该tab项是否以及存在

                    var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                    $.each($(".layui-tab-title li[lay-id]"), function () {
                        //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                        if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                            isData = true;
                        }
                    })
                    if (isData == false) {
                        //标志为false 新增一个tab项
                        active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                    }
                }
                //最后不管是否新增tab，最后都转到要打开的选项页面上
                active.tabChange(dataid.attr("data-id"));
            });
            function CustomRightClick(id) {
                //取消右键  rightmenu属性开始是隐藏的 ，当右击的时候显示，左击的时候隐藏
                $('.layui-tab-title li').on('contextmenu', function () { return false; })
                $('.layui-tab-title,.layui-tab-title li').click(function () {
                    $('.rightmenu').hide();
                });
                //桌面点击右击
                $('.layui-tab-title li').on('contextmenu', function (e) {
                    var popupmenu = $(".rightmenu");
                    popupmenu.find("li").attr("data-id", id); //在右键菜单中的标签绑定id属性

                    //判断右侧菜单的位置
                    l = ($(document).width() - e.clientX) < popupmenu.width() ? (e.clientX - popupmenu.width()) : e.clientX;
                    t = ($(document).height() - e.clientY) < popupmenu.height() ? (e.clientY - popupmenu.height()) : e.clientY;
                    popupmenu.css({ left: l, top: t }).show(); //进行绝对定位
                    //alert("右键菜单")
                    return false;
                });
            };

            $(".rightmenu li").click(function () {

                //右键菜单中的选项被点击之后，判断type的类型，决定关闭所有还是关闭当前。
                if ($(this).attr("data-type") == "closethis") {
                    //如果关闭当前，即根据显示右键菜单时所绑定的id，执行tabDelete
                    active.tabDelete($(this).attr("data-id"))
                } else if ($(this).attr("data-type") == "closeall") {
                    var tabtitle = $(".layui-tab-title li");
                    var ids = new Array();
                    $.each(tabtitle, function (i) {
                        ids[i] = $(this).attr("lay-id");
                    })
                    //如果关闭所有 ，即将所有的lay-id放进数组，执行tabDeleteAll
                    active.tabDeleteAll(ids);
                }

                $('.rightmenu').hide(); //最后再隐藏右键菜单
            });
            function FrameWH() {
                var h = $(window).height() - 41 - 10 - 60 - 10 - 44 - 10;
                $("iframe").css("height", h + "px");
            };

            $(window).resize(function () {
                FrameWH();
            });


        //选择损伤系数全局变量，放入cookie中保存


        });

    </script>



}

